.page{
    color:#fff;
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #070612;
    font-family: 'Courier New', Courier, monospace;
    }

.header{
    background-image: url(./images/header-back.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 1024px;
    color:#fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navigation{
    max-width: 1440px;
    margin:0;
    padding-left: 120px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
}
.header-name{
    margin: 0;
    color: #E9E9EC;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0 0 44.98px;
    margin-block-start: 0;
    margin-block-end: 0;

}
.header-items{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding: 37px 50px 44px 200px;
}
.header-item{
    margin:0;
    padding: 0 50px 0 0;
}
.header-item:last-child{
    padding: 0;
}
.header-link{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #E9E9EC;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.header-link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
}
.header-link::before{
    content:'';
    width: 100%;
    height: 2px;
    background: #87E7AD;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}
.header-title{
    margin: 0;
    padding: 280px 0 0 100px;
    color: #E9E9EC;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    text-align: center
}
.category{
    background-color: #070612;
    width:1440px;
    height: 800px;
}
.category-description{
    background-image: url(./images/femida.jpg);
    width: 1360px;
    height: 800px;
}